{{> header }}

<h1>음식 추가</h1>

<div>
    <div>
        <form>
            <div>
                <label for="name">음식</label>
                <input type="text" id="name">
            </div>
            <div>
                <label for="start-date">시작일</label>
                <input type="date" id="start-date">
            </div>
        </form>
        <a href="/food" role="button">취소</a>
        <button type="button" id="btn-food-save">등록</button>
    </div>
</div>

</html>