{{> header }}

<h2>음식 목록</h2>

{{# user }}
    <div>{{ id }}</div>
    <div>{{ name }}</div>
    <div>{{ email }}</div>
{{/ user }}

<div>
    <a href="/logout">logout</a>
</div>

<a href="/food/save">Add food</a>


<!-- food table -->
<table>
    <thead>
        <th>id</th>
        <th>name</th>
        <th>start_date</th>
        <th>day_count</th>
    </thead>
    <tbody>
    {{# foodList}}
        <tr>
            <td id="food-id">{{ id }}</td>
            <td><a href="/food/{{id}}/reviews" id="food-id">{{ name }}</a></td>
            <td>{{ startDate }}</td>
            <td>{{ dayCount }}</td>
            <td><a href="/food/update/{{id}}" type="button">수정</a></td>
            <td><button class="btn-food-delete" id="{{id}}">삭제</button></td>
        </tr>
    {{/foodList}}
    </tbody>

</table>

{{> footer }}
