{{> header }}
<div class="container">
    <div class="p-5 mb-4 bg-white rounded-3">
        <h1 class="mt-5">텀프로젝트 1조</h1>
        <div class="lead mb-10 mt-3">쿠버네티스 기반의 단식 일자 카운트 서비스</div>
        <div class="pt-3 lead mb-5">
            <a href="/oauth2/authorization/google" role="button" class="btn btn-lg btn-outline-primary mt-5 mb-3">Sign in with Google</a> <!-- spring security에서 기본 제공하는 로그인 url -->
        </div>
    </div>
</div>

{{> footer }}