{{> header }}

<!-- food info -->
<div class="p-5 mb-4 bg-white rounded-3">
    <div class="row h3 m-0">
        <div id="{{food.id}}" class="d-none food"></div>
        <div class="col-3 text-start">
            <span class="ml-5"><a href="/food/{{food.id}}/reviews" id="food-id" class="h1 text-black" style="text-decoration: none">{{ food.name }}</a></span>
        </div>
        <div class="col-3">
            <div class="text-secondary float-right h4" style="padding-top: 0.7rem;">{{ food.startDate }}~</div>
        </div>
        <div class="col-4">
            <div style="padding-top: 0.5rem;">{{ food.dDay }}일째(🙅 + {{ food.dayCount }}일)</div>
        </div>
        <div class="col-2">
            <div style="padding-top: 0.5rem;"><a href="/food" class="h4 text-black" style="text-decoration: none"><span style="padding-right: 0.5rem;">⏪</span>Back</a></div>
        </div>
    </div>
</div>


<!-- food table -->
<div class="container bg-white rounded-3">
    {{# reviewList}}
        <div class="p-5 m-0">
            <div class="row lead">
                <div class="col-3 text-start h4">
                    <span>{{ date }}</span>
                    {{# fasted }} <!-- 단식 성공 시 -->
                        <span class="ml-3">🙂</span>
                    {{/ fasted }}
                    {{^ fasted }}
                        <span>☹️</span>
                    {{/fasted}}
                </div>
                <div class="col-7 text-start">
                    <span class="ml-3 h4">{{ title }}</span>
                </div>
                <div class="col-2 h3">
                    <span><a href="/food/{{food.id}}/reviews/update/{{id}}" type="button" class="ms-4 text-black" style="text-decoration: none"
                        data-bs-toggle="tooltip" data-bs-placement="bottom" title="edit">✏️</a></span>
                    <span class="btn-review-delete ms-4" id="{{id}}" style="text-decoration: none; cursor: pointer;"
                          data-bs-toggle="tooltip" data-bs-placement="bottom" title="delete">🗑</span>
                </div>
            </div>
            <div class="row lead">
                <div class="col-12 text-start">{{ content }}</div>
            </div>
        </div>
        <hr class="m-0">
    {{/ reviewList}}
</div>

<div class="container mt-2 bg-white rounded-3">
    <div class="p-5 h4">
        <a href="/food/{{food.id}}/reviews/save" class="text-success" style="text-decoration: none">➕ Add review</a>
    </div>
</div>

{{> footer }}
