{{> header }}

<h2>음식 목록</h2>

{{# user }}
    <div>{{user.id}}</div>
    <div>{{user.email}}</div>
{{/ user }}

<div>
    <a href="/logout">logout</a>
</div>
<div>
    <a href="/food">Back to food list</a>
</div>


<!-- food table -->
<table>
    <thead>
    <th>id</th>
    <th>name</th>
    <th>start_date</th>
    <th>day_count</th>
    <th>created_at</th>
    <th>updated_at</th>
    </thead>
    <tbody>
    {{# foodList}}
        <td><a href="/food/{{id}}">{{ id }}</a></td>
        <td>{{ name }}</td>
        <td>{{ start_date }}</td>
        <td>{{ day_count }}</td>
        <td>{{ created_at }}</td>
        <td>{{ updated_at }}</td>
    {{/foodList}}
    </tbody>
</table>
</html>
