{{> header }}

<!-- food info -->
<div class="food" id="{{food.id}}" hidden></div>
<h2>음식 정보</h2>
<div>{{food.name}}</div>
<div>{{food.startDate}}</div>
<div>{{food.dayCount}}</div>

<h2>리뷰 목록</h2>

{{# user }}
    <div>{{ name }}</div>
    <div>{{ email }}</div>
{{/ user }}

<div>
    <a href="/logout">logout</a>
</div>
<div>
    <a href="/food/">Back to food list</a>
</div>
<div>
    <a href="/food/{{food.id}}/reviews/save">Add review</a>
</div>


<!-- review table -->
<table>
    <thead>
    <th>id</th>
    <th>date</th>
    <th>title</th>
    <th>content</th>
    <th>fasted</th>
    <th>수정</th>
    <th>삭제</th>
    </thead>
    <tbody>
    {{# reviewList}}
        <tr>
            <td>{{ id }}</td>
            <td>{{ date }}</td>
            <td>{{ title }}</td>
            <td>{{ content }}</td>
            <td>{{ fasted }}</td>
            <td><a href="/food/{{food.id}}/reviews/update/{{id}}" type="button">수정</a></td>
            <td><button class="btn-review-delete" id="{{id}}">삭제</button></td>
        </tr>
    {{/ reviewList}}
    </tbody>
</table>

{{> footer }}
